
body{
    height: 100vh;
}

.logo_small{
    height: 70px;
}

.aside{
    height: calc(100vh - 88px) ;
    width: 70px;
    background-color: rgb(11, 35, 57);
    background-image: url(/img/sidebar-bg.png) ;
}

.container_main{
    
    padding-left :70px;
    padding-top:88px;
    overflow-x: hidden;
}

@media (min-width:768px){
    .aside{
        width: 150px;
    }

    .container_main{
        padding-left: 150px;
    }

    .offcanvas{
        width: 50% !important;
    }
}

.badge{
    background-color: rgb(22, 91, 186) !important;
}

th img{
    height: 40px;
}

.square-icon{
    border: 3px solid black;
    margin-right: 10px;
}

/* hover*/
.icon-nav:hover{
    background-color: lightgray;
}

.badge:hover{
    cursor: pointer;
    background-color: rgb(14, 62, 129) !important;
}