body{
    height: 100vh;
}

.logo_small{
    height: 70px;
}

.aside{
    height: calc(100vh - 88px) ;
    width: 70px;
    background-color: rgb(11, 35, 57);
    background-image: url(/img/sidebar-bg.png) ;
}

.container_main{
    
    padding-left :70px;
    padding-top:88px;
    overflow-y: auto;
}

@media (min-width:768px){
    .aside{
        width: 150px;
    }

    .container_main{
        padding-left: 150px;
    }
}

th img{
    height: 40px;
}