
.logo_small{
    height: 70px;
}

.aside{
    height: calc( 100vh - 88px ) ;
    width: 70px;
    background-color: rgb(11, 35, 57);
    background-image: url(/img/sidebar-bg.png) ;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin-left: 70px;
    margin-top: 88px;
    overflow-x: hidden;
}

@media (min-width:768px){
    .aside{
        width: 150px;
    }

    main{
        margin-left: 150px;
    }
}
